<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
 <mapper namespace="cn.tedu.store.mapper.DictAreasMapper">
<resultMap id="BaseResultMap" type="cn.tedu.store.bean.DictAreas">
<constructor>
<idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
<arg column="city_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
<arg column="area_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
<arg column="area_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
</constructor>
</resultMap>
<sql id="Base_Column_List">id, city_code, area_code, area_name</sql>
<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
select
<include refid="Base_Column_List"/>
from t_dict_areas where id = #{id,jdbcType=INTEGER}
</select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
delete from t_dict_areas where id = #{id,jdbcType=INTEGER}
</delete>
<insert id="insert" parameterType="cn.tedu.store.bean.DictAreas">
insert into t_dict_areas (id, city_code, area_code, area_name) values (#{id,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR})
</insert>
<insert id="insertSelective" parameterType="cn.tedu.store.bean.DictAreas">
insert into t_dict_areas
<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="id != null">id,</if>
<if test="cityCode != null">city_code,</if>
<if test="areaCode != null">area_code,</if>
<if test="areaName != null">area_name,</if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides=",">
<if test="id != null">#{id,jdbcType=INTEGER},</if>
<if test="cityCode != null">#{cityCode,jdbcType=VARCHAR},</if>
<if test="areaCode != null">#{areaCode,jdbcType=VARCHAR},</if>
<if test="areaName != null">#{areaName,jdbcType=VARCHAR},</if>
</trim>
</insert>
<update id="updateByPrimaryKeySelective" parameterType="cn.tedu.store.bean.DictAreas">
update t_dict_areas
<set>
<if test="cityCode != null">city_code = #{cityCode,jdbcType=VARCHAR},</if>
<if test="areaCode != null">area_code = #{areaCode,jdbcType=VARCHAR},</if>
<if test="areaName != null">area_name = #{areaName,jdbcType=VARCHAR},</if>
</set>
where id = #{id,jdbcType=INTEGER}
</update>
<update id="updateByPrimaryKey" parameterType="cn.tedu.store.bean.DictAreas">
update t_dict_areas set city_code = #{cityCode,jdbcType=VARCHAR}, area_code = #{areaCode,jdbcType=VARCHAR}, area_name = #{areaName,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
</update>
</mapper>